.page-diaries
  .card
    %h1 編集
    = render 'form', entry: @entry

  .toolbar{ style: "margin-top:18px" }
    = link_to "戻る", entry_path(@entry), class: "btn"
    = link_to "一覧に戻る", entries_path, class: "btn btn-primary"
